
bin/kinectLog.csv

bin/bapaproto_0610Debug.app/Contents/MacOS/bapaproto_0610Debug

bapaproto_0610.xcodeproj/project.xcworkspace/xcuserdata/ootori.xcuserdatad/UserInterfaceState.xcuserstate

bapaproto_0610.xcodeproj/project.xcworkspace/xcshareddata/bapaproto_0610.xccheckout
